body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

header {
    background: floralwhite;
    padding: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    align-items: center;
}

ul {
    color: #333;
    list-style: none;
    text-align: center;
    padding: 10px
}
ul li {
    display: inline;
}

h1,
h3 {
    text-align: center;
}

p {
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}